
body{background:#0f172a;font-family:Arial}
.container{width:420px;margin:80px auto;background:white;padding:25px;border-radius:10px;text-align:center}
input{width:80%;padding:10px;margin:10px}
button{padding:10px 25px;background:#2563eb;color:white;border:none}
.result{margin-top:15px;color:green;font-size:20px}
